PORT=
GIN_MODE=debug
ORIGIN=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGX_LOG_LEVEL=warn

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?sslmode=disable"

ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=
ACCESS_TOKEN_EXPIRED_IN=15m
ACCESS_TOKEN_MAXAGE=15

REFRESH_TOKEN_PRIVATE_KEY=
REFRESH_TOKEN_PUBLIC_KEY=
REFRESH_TOKEN_EXPIRED_IN=30d
REFRESH_TOKEN_MAXAGE=30
